<div class="download">
  <div class="download__content">
    <div class="download__content__inner">
      <canvas class="concat-canvas" width="670" height="670"></canvas>
      <p><a class="download-btn" href="#" download="cat.jpg">ダウンロード</a></p>
    </div>
  </div>
</div>
