<form id="palette" class="palette">
  <label>左目
    <input id="eye-left" type="color" value="#000000">
  </label>
  <label>右目
    <input id="eye-right" type="color" value="#000000">
  </label>
  <label>背中
    <input id="pattern-back" type="color" value="#999999">
  </label>
  <label>しっぽ
    <input id="pattern-tail" type="color" value="#999999">
  </label>
  <label>顔
    <input id="pattern-face" type="color" value="#999999">
  </label>
  <label>腕
    <input id="pattern-arm" type="color" value="#999999">
  </label>
  <label>足
    <input id="pattern-leg" type="color" value="#999999">
  </label>
</form>
