<form id="palette" class="palette">
  <label>左目 // path72
    <input id="canvas-eye-left" type="color" value="#992222">
  </label>
  <label>右目 // path80
    <input id="canvas-eye-right" type="color" value="#992222">
  </label>
  <label>模様 // path404 path412 path420 path464 path472
    <input id="canvas-pattern" type="color" value="#999999">
  </label>
</form>