<div class="tool">
  <ul class="tool__menu">
    <li class="is-active">猫の色</li>
    <li>スタンプ</li>
    <!-- <li>背景</li> -->
  </ul>
  <ul class="tool__list">
    <li class="is-active"><%- include('./_palette.ejs') %></li>
    <li>
      <%- include('./_stamp.ejs') %>
      <button class="clear-btn">clear</button>
    </li>
    <!-- <li>
      <%- include('./_background.ejs') %>
      <button class="clear-btn">clear</button>
    </li> -->
  </ul>
  <div class="tool__bottom">
    <button class="concat-btn">完成！</button>
  </div>
</div>
