<div class="tool">
  <ul class="tool__box">
    <li>
      <p class="tool__title">猫の色</p>
      <%- include('./_palette.ejs') %>
    </li>
    <li>
      <p class="tool__title">スタンプ</p>
      <%- include('./_stamp.ejs') %>
      <button class="clear-btn">clear</button>
    </li>
  </ul>
  <button class="concat-btn">完成！</button>
</div>
