@import './_reset.scss';

.wrap {
  max-width: 900px;
  margin: 50px auto 100px;
  padding: 0 25px;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  > * {
    width: 25%;
    margin-top: 30px;
  }
}

.btn-box {
  margin-top: 20px;
}
.btn {
  border: 1px solid #999;
  padding: 5px 10px;
  display: inline-block;
}
