@import './_reset.scss';
@import './_modules/download';

.myCavans {
  background-color: #fff;
}

.wrap {
  max-width: 900px;
  padding: 50px 25px;
  margin: 0 auto;
}

.palette {
  display: flex;
  flex-wrap: wrap;
  > * {
    width: 25%;
    margin-top: 20px;
  }
}

.box-margin {
  margin-top: 30px;
}
.btn {
  border: 1px solid #999;
  padding: 5px 10px;
  display: inline-block;
}

.canvas-box {
  position: relative;
}
.stamps-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.download-btn {
  color: #fff;
  padding: 20px 10px;
  border: 1px solid #999;
  display: inline-block;
  &:hover {
    color: blue;
  }
}
